<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheyni</title>
    <link rel="stylesheet" href="/Cheyni/style/style.css">
</head>

<body>
    <div class="register__page">
        <div class="page">
            <div class="logo">
                <img src="/Cheyni/images/Logo.svg" alt="CheyniLogo">
            </div>
            <div class="description">
                <h2>Register to CHEYNI</h2>
                <p>Create and share videos in seconds</p>
            </div>
            <div class="google__button">
                <button id="google"><img src="/Cheyni/images/icon-google.svg">Continue with Google</button>
            </div>
            <div class="or">
                <hr>
                <span>OR</span>
                <hr>
            </div>

            <div class="form">
                <form>
                    <div class="form__group"><input type="text" placeholder="*Name">
                        <input type="text" placeholder="*Surname">
                    </div>
                    <input type="email" placeholder="*E-Mail Address">
                    <input type="password" placeholder="*Password">
                    <input type="password" placeholder="*Confrim password">
                    <div class="form__group"><input type="text" placeholder="Referal Code">
                        <input type="text" placeholder="Promo Code">
                    </div>
                    <button id="register">Register</button>


                </form>
            </div>
            <span>Do you have an account?<a href>Register</a></span>
        </div>
    </div>
</body>

</html>